.spinner {
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle {
  border-radius: 50%;
  border-style: solid;
  border-color: #10b981;
  border-top-color: transparent;
  animation: spin 1s linear infinite;
}

.sizeSm {
  width: 16px;
  height: 16px;
  border-width: 2px;
}

.sizeMd {
  width: 32px;
  height: 32px;
  border-width: 3px;
}

.sizeLg {
  width: 48px;
  height: 48px;
  border-width: 4px;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
